# GeoPackage
*.gpkg
# MBTiles
*.mbtiles
# PMTiles
*.pmtiles
# ZIP
*.zip
*.tif
*.tfw
*.xml
# ECW
*.ecw
*.ECW
*.eww
*.ers
# MrSID
*.sid
*.sdw
*.prj

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# GDAL source checkout used by docker/gdal/build.sh
docker/gdal/src/
